---
title: Line of Life
---
<div class="circle" id="morph-dot">
</div>
<div class="content">
  <div class="text">
    <div>In response to last year’s Boston Marathon attacks,</div>
    <div>the world was reminded that in the midst of a tragedy</div>
    <div>communities become stronger and more unified</div>
  </div>
  <div class="play">
    <a id="play" class="popup-youtube" href="https://www.youtube.com/watch?v=YdX8ugFTvBQ"><img src="images/play.png"></a>
  </div>
  <div class="text">
    <div>This collaborative art project aims to visualize</div>
    <div>the network of love that was created.</div>
  </div>
  <div class="text final">
    The Line of Life participatory art platform 
    will showcase this bond leading up to the 
    2014 Boston marathon, and beyond!
  </div>
</div>