---
title: Line of Life
---
<img src="images/title-paint_by_number.png">
<a id="play" class="popup-youtube" href="https://www.youtube.com/watch?v=YdX8ugFTvBQ"><div class="video">
  <img src="images/play-grey.png">
  <div class="text">
    <span>watch the video!</span>
  </div>
</div></a>