---
title: Line of Life - Information
---
<img src="images/title-photo_mosaic.png"> 
<img src="images/faces.png">
<a href="#" class="pure-button open-popup-link"><img src="images/icon-photo.png"> 
  <span class="">SUBMIT PHOTO</span>
  <span class="hide">ENTER EMAIL</span>
</a> 
<div class="text">
  Your photo will be part of two major installations the Saturday and Sunday during Boston Marathon weekend. 
</div>