---
title: Line of Life - Information
---
<div class="blue banner">
  <div class="location">
    <img src="images/location_pru.jpg">
    <h1>Prudential Plaza</h1>
  </div>
  <div class="location">
    <img src="images/location_city_hall.jpg">
    <h1>City Hall North Wall</h1>
  </div>
  <div class="location">
    <img src="images/location_newbury.jpg">
    <h1>Newbury and Mass Ave</h1>
  </div>
</div>
<div class="content">
  <div class="text">
    Join us next Saturday and Sunday to participate in the 2nd version of the Line of Life series.
  </div>
</div>