---
title: Line of Life - Join
---
<div class="red banner">
  <h1>BE ONE OF THE FIRST TO JOIN</h1>
</div>
<div class="content">
  <img class="logo" src="/images/lol_logo.png">
  <div class="text">
    Picture by picture, side by side, yOUR identity is required to bring the Line to Life.
  </div>
  <h2>Ready to start?</h2>
  <a href="#"><img src="/images/submit_button.png"></a>
</div>