<h1>Check out our locations!</h1>
<a href="#">
  <div class="location">
  <img src="images/location_pru.jpg">
  <span>Prudential Center at Boylston St</span>
</div>
</a>
<a href="#">
  <div class="location">
  <img src="images/location_newbury.jpg">
  <span>Newbury St at Mass Ave</span> 
</div>
</a>
<a href="#" class="pure-button open-popup-link"><img src="images/icon-photo.png">
  <span class="">SUBMIT PHOTO</span>
  <span class="hide">ENTER EMAIL</span>
</a> 
