<nav>
  <a class="logo" href="#atf">EMAGCOLLAB</a>
  <ul>
    <li class="main"><a href="#atf">Line to Life</a></li>
    <li><a href="#atf">Home</a></li>
    <li><a href="#info">Locations</a></li>
    <li><a href="#join">Sign Up</a></li>
    <li><a href="#sponsors">Sponsors</a></li>
  </ul>
</nav>
