---
title: Line of Life - Sponsors
---
<div class="orange banner">
</div>
<div class="content">
  <div class="text">
    Help us create and unify Boston through one of its largest collaborative art projects in history.
  </div>
  <form id="sponsor-form">
    <div><input type="text" name="company" placeholder="COMPANY"></div>
    <div><input type="email" name="email" placeholder="EMAIL"></div>
    <div><button class="pure-button" type="submit">Submit</button></div>
  </form>
  <div class="text">
    or contact
    <h2><a href="mailto:Outreach@EmagCollab.com">Outreach@EmagCollab.com</a></h2>
  </div>
  <div class="bounded text">
    Thank you to our sponsors for helping us bring the Line to Life!
  </div>
  <div class="partners">
    <h1>Partners</h1>
    <img src="images/partner_version2.png">
    <img src="images/partner_t.png">
    <img src="images/partner_afh.png">
  </div>
</div>