---
title: Line of Life - Sponsors
---
<div class="text">
  <span>Help us create and unify Boston through one of its largest collaborative art projects in history.</span>
  <span>For sponsorship opportunities contact <h2><a href="mailto:Outreach@EmagCollab.com">Outreach@EmagCollab.com</a></h2></span>
</div>