#warped {position: relative; display: block; width:956px; height:513px;}

 #warped>span[class^=w]:nth-of-type(n+0){display:block; position:absolute;
 -moz-transform-origin:50% 100%; -webkit-transform-origin:50% 100%; -o-transform-origin:50%
 100%; -ms-transform-origin:50% 100%; transform-origin:50% 100%; }

 #warped span{ line-height:0.65; white-space:pre; overflow:visible; padding:0px;}
 
 #warped .w0 {-moz-transform: rotate(-0.61rad);-webkit-transform: rotate(-0.61rad);-o-transform:
 rotate(-0.61rad);-ms-transform: rotate(-0.61rad); transform: rotate(-0.61rad);
 width: 26px; height: 24px; left: 145.09px; top: 56.92px;}

 #warped .w1 {-moz-transform: rotate(-0.55rad);-webkit-transform: rotate(-0.55rad);-o-transform:
 rotate(-0.55rad);-ms-transform: rotate(-0.55rad); transform: rotate(-0.55rad);
 width: 24px; height: 24px; left: 171.26px; top: 40.59px;}

 #warped .w2 {-moz-transform: rotate(-0.51rad);-webkit-transform: rotate(-0.51rad);-o-transform:
 rotate(-0.51rad);-ms-transform: rotate(-0.51rad); transform: rotate(-0.51rad);
 width: 13px; height: 24px; left: 197.11px; top: 28.84px;}

 #warped .w3 {-moz-transform: rotate(-0.46rad);-webkit-transform: rotate(-0.46rad);-o-transform:
 rotate(-0.46rad);-ms-transform: rotate(-0.46rad); transform: rotate(-0.46rad);
 width: 30px; height: 24px; left: 212.16px; top: 16.71px;}

 #warped .w4 {-moz-transform: rotate(-0.39rad);-webkit-transform: rotate(-0.39rad);-o-transform:
 rotate(-0.39rad);-ms-transform: rotate(-0.39rad); transform: rotate(-0.39rad);
 width: 28px; height: 24px; left: 244.24px; top: 2.92px;}

 #warped .w5 {-moz-transform: rotate(-0.33rad);-webkit-transform: rotate(-0.33rad);-o-transform:
 rotate(-0.33rad);-ms-transform: rotate(-0.33rad); transform: rotate(-0.33rad);
 width: 24px; height: 24px; left: 275.3px; top: -7.84px;}

 #warped .w6 {-moz-transform: rotate(-0.28rad);-webkit-transform: rotate(-0.28rad);-o-transform:
 rotate(-0.28rad);-ms-transform: rotate(-0.28rad); transform: rotate(-0.28rad);
 width: 13px; height: 24px; left: 303.23px; top: -14.84px;}

 #warped .w7 {-moz-transform: rotate(-0.23rad);-webkit-transform: rotate(-0.23rad);-o-transform:
 rotate(-0.23rad);-ms-transform: rotate(-0.23rad); transform: rotate(-0.23rad);
 width: 30px; height: 24px; left: 320.38px; top: -21.5px;}

 #warped .w8 {-moz-transform: rotate(-0.17rad);-webkit-transform: rotate(-0.17rad);-o-transform:
 rotate(-0.17rad);-ms-transform: rotate(-0.17rad); transform: rotate(-0.17rad);
 width: 22px; height: 24px; left: 354.76px; top: -27.62px;}

 #warped .w9 {-moz-transform: rotate(-0.13rad);-webkit-transform: rotate(-0.13rad);-o-transform:
 rotate(-0.13rad);-ms-transform: rotate(-0.13rad); transform: rotate(-0.13rad);
 width: 13px; height: 24px; left: 381.52px; top: -30.92px;}

 #warped .w10 {-moz-transform: rotate(-0.09rad);-webkit-transform: rotate(-0.09rad);-o-transform:
 rotate(-0.09rad);-ms-transform: rotate(-0.09rad); transform: rotate(-0.09rad);
 width: 23px; height: 24px; left: 399.39px; top: -33.29px;}

 #warped .w11 {-moz-transform: rotate(-0.03rad);-webkit-transform: rotate(-0.03rad);-o-transform:
 rotate(-0.03rad);-ms-transform: rotate(-0.03rad); transform: rotate(-0.03rad);
 width: 29px; height: 24px; left: 427.35px; top: -34.89px;}

 #warped .w12 {-moz-transform: rotate(0.03rad);-webkit-transform: rotate(0.03rad);-o-transform:
 rotate(0.03rad);-ms-transform: rotate(0.03rad); transform: rotate(0.03rad);
 width: 24px; height: 24px; left: 461.34px; top: -34.61px;}

 #warped .w13 {-moz-transform: rotate(0.08rad);-webkit-transform: rotate(0.08rad);-o-transform:
 rotate(0.08rad);-ms-transform: rotate(0.08rad); transform: rotate(0.08rad);
 width: 13px; height: 24px; left: 490.3px; top: -33.15px;}

 #warped .w14 {-moz-transform: rotate(0.12rad);-webkit-transform: rotate(0.12rad);-o-transform:
 rotate(0.12rad);-ms-transform: rotate(0.12rad); transform: rotate(0.12rad);
 width: 22px; height: 24px; left: 508.17px; top: -30.77px;}

 #warped .w15 {-moz-transform: rotate(0.17rad);-webkit-transform: rotate(0.17rad);-o-transform:
 rotate(0.17rad);-ms-transform: rotate(0.17rad); transform: rotate(0.17rad);
 width: 16px; height: 24px; left: 534.89px; top: -27.16px;}

 #warped .w16 {-moz-transform: rotate(0.22rad);-webkit-transform: rotate(0.22rad);-o-transform:
 rotate(0.22rad);-ms-transform: rotate(0.22rad); transform: rotate(0.22rad);
 width: 26px; height: 24px; left: 555.38px; top: -22.02px;}

 #warped .w17 {-moz-transform: rotate(0.28rad);-webkit-transform: rotate(0.28rad);-o-transform:
 rotate(0.28rad);-ms-transform: rotate(0.28rad); transform: rotate(0.28rad);
 width: 26px; height: 24px; left: 585.38px; top: -14.23px;}

 #warped .w18 {-moz-transform: rotate(0.34rad);-webkit-transform: rotate(0.34rad);-o-transform:
 rotate(0.34rad);-ms-transform: rotate(0.34rad); transform: rotate(0.34rad);
 width: 23px; height: 24px; left: 614.95px; top: -5.16px;}

 #warped .w19 {-moz-transform: rotate(0.38rad);-webkit-transform: rotate(0.38rad);-o-transform:
 rotate(0.38rad);-ms-transform: rotate(0.38rad); transform: rotate(0.38rad);
 width: 13px; height: 24px; left: 641.45px; top: 3px;}

 #warped .w20 {-moz-transform: rotate(0.42rad);-webkit-transform: rotate(0.42rad);-o-transform:
 rotate(0.42rad);-ms-transform: rotate(0.42rad); transform: rotate(0.42rad);
 width: 23px; height: 24px; left: 657.56px; top: 12.11px;}

 #warped .w21 {-moz-transform: rotate(0.49rad);-webkit-transform: rotate(0.49rad);-o-transform:
 rotate(0.49rad);-ms-transform: rotate(0.49rad); transform: rotate(0.49rad);
 width: 30px; height: 24px; left: 682.29px; top: 26.08px;}

 #warped .w22 {-moz-transform: rotate(0.54rad);-webkit-transform: rotate(0.54rad);-o-transform:
 rotate(0.54rad);-ms-transform: rotate(0.54rad); transform: rotate(0.54rad);
 width: 13px; height: 24px; left: 713.84px; top: 39.15px;}

 #warped .w23 {-moz-transform: rotate(0.57rad);-webkit-transform: rotate(0.57rad);-o-transform:
 rotate(0.57rad);-ms-transform: rotate(0.57rad); transform: rotate(0.57rad);
 width: 17px; height: 24px; left: 728.78px; top: 49.78px;}

 #warped .w24 {-moz-transform: rotate(0.63rad);-webkit-transform: rotate(0.63rad);-o-transform:
 rotate(0.63rad);-ms-transform: rotate(0.63rad); transform: rotate(0.63rad);
 width: 30px; height: 24px; left: 745.68px; top: 66.04px;}

 #warped .w25 {-moz-transform: rotate(0.68rad);-webkit-transform: rotate(0.68rad);-o-transform:
 rotate(0.68rad);-ms-transform: rotate(0.68rad); transform: rotate(0.68rad);
 width: 16px; height: 24px; left: 774.77px; top: 83.24px;}

 #warped .w26 {-moz-transform: rotate(0.74rad);-webkit-transform: rotate(0.74rad);-o-transform:
 rotate(0.74rad);-ms-transform: rotate(0.74rad); transform: rotate(0.74rad);
 width: 28px; height: 24px; left: 789.17px; top: 100.93px;}